<!-- THIS IS THE PAGE WHICH GETS DISPLAYED AS SOON AS THE LOGIN IS SUCCESSFUL -->
<!-- THE STYLING OF THIS PAGE IS IN UPLOAD.CSS -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Successful</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='upload.css') }}">
</head>
<body>
    <div class="container">
        <a style="text-decoration: none;"  href="/home" id="home"><i class="fa fa-home"></i> Go to Homepage</a>
        <h1 style="margin-left: 36%; margin-top: 40px;">Welcome to TimeFrameTales!!!</h1>
        <h2 style="margin-left: 48%;">Login Successful!!</h2>
        <h2 style="margin-left: 48%;" id="welcomeMessage">Welcome, {{ username }}</h2>
        <p style="margin-left: 36%;">Turning pixels into poetry, your photos dance to the rhythm of<br> our videos. Elevate your memories with seamless elegance, only <br>at TimeFrameTales</p>
        
    </div>
</body>

</html>
